<app-header></app-header>
<app-banner></app-banner>
<br>
<br>
<br>
<section>
    <div class="container">
        <span>
            <i></i>
        </span>
        <h2 class="title">
            Discover the possibilities
        </h2>
        <p class="description">With nearly half a million attractions, hotels & more, you're sure to find joy.</p>
    </div>
    <div class="container">
        <span>
            <i></i>
        </span>
        <h2 class="title">
            Enjoy deals & delights
        </h2>
        <p class="description">Quality activities. Great prices. Plus, earn credits to save more.</p>
    </div>
    <div class="container">
        <span>
            <i></i>
        </span>
        <h2 class="title">
            Exploring made easy
        </h2>
        <p class="description">Book last minute, skip lines & get free cancellation for easier exploring.</p>
    </div>
    <div class="container">
        <span>
            <i></i>
        </span>
        <h2 class="title">
            Travel you can trust
        </h2>
        <p class="description">Read reviews & get reliable customer support. We're with you at every step.</p>
    </div>
</section>

<h1>Top Destination For Your Next Vacation</h1>
<app-destination></app-destination>
<app-footer></app-footer>